* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffc222;
  --sec-color: #ee284b;
  --third-color: #00a149;
  --text-color: #212121;
  --muted-color: #5c5c5b;
}

body {
  font-family: "Oswald", sans-serif;
}

/* gelable css */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  width: 75%;
  /* background-color: blue; */
  margin: auto;
}

/* ==================================== start navbar ====================== */
.navbar{
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 2px 2px 10px #000;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list {
  display: flex;
  gap: 15px;
}
.navbar .nav-list li a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  transition: .3s;
  position: relative;
}
.navbar .nav-list li a::after{
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transition: .3s;
}

.navbar .nav-list li a:hover::after{
    width: 50%;
}

.navbar .nav-list li a:hover{
    color: var(--main-color);
}
.navbar .nav-form {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .nav-form .shopping {
  color: var(--third-color);
  font-size: 25px;
  cursor: pointer;
}
.navbar .nav-form button {
  padding: 12px 35px;
  border-radius: 8px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar .nav-form .list {
  font-size: 25px;
  cursor: pointer;
}
/* ==================================== end navbar ====================== */

/* ==================================== start hero ====================== */
.hero {
  background-image: url("../img/hero.png");
  height: calc(100vh - 77.7px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero .hero-content h3 {
  font-size: 20px;
  color: var(--main-color);
}
.hero .hero-content h1 {
  font-size: 100px;
  color: #fff;
  line-height: 100px;
}
.hero .hero-content p {
  color: #fff;
  font-size: 25px;
  margin-top: 25px;
}
.hero .hero-content p span {
  font-size: 35px;
  font-weight: bold;
}
.hero .hero-content button {
  padding: 15px 30px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--third-color);
  border: var(--third-color) 2px solid;
  cursor: pointer;
  margin-top: 25px;
  font-size: 22px;
  text-transform: capitalize;
  transition: 0.3s;
}

.hero .hero-content button:hover {
  background-color: var(--main-color);
  border: var(--main-color) 2px solid;
}

.hero .hero-vip {
  color: var(--main-color);
}
/* ==================================== end hero ====================== */

/* ==================================== start food ====================== */
.food {
  background-color: #f5f8fd;
  padding: 100px 0;
}

.food .food-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food .food-header .header-content h4 {
  color: var(--third-color);
  font-size: 18px;
}
.food .food-header .header-content h2 {
  color: var(--text-color);
  font-size: 60px;
  font-weight: bold;
}
.food .food-header .header-arrows {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  gap: 25px;
}
.food .food-header .header-arrows span {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.food .food-header .header-arrows .active {
  color: #fff;
  background-color: var(--main-color);
}
.food .food-header .header-arrows span:hover {
  color: #fff;
  background-color: var(--main-color);
}
.food .cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.food .cards .card {
  background: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  transition: .3s;
  cursor: pointer;
}

.food .cards img{
    transition: .3s;
}
.food .cards .card:hover img{
    transform: scale(1.3);
}
.food .cards .card h4 {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
}
.food .cards .card p {
  color: var(--main-color);
  text-align: center;
}

/* ==================================== end food ====================== */
/* ==================================== start offer ====================== */
.offer {
  /* padding: 100px 0; */
  margin-bottom: 100px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 600px;
  background-attachment: fixed;
}
.offer .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer .offer-content {
  text-align: center;
}
.offer .offer-content h2 {
  font-size: 60px;
}
.offer .offer-content h5 {
  font-size: 30px;
}
.offer .offer-content p {
  font-size: 22px;
}

.offer .offer-content button {
  padding: 15px 35px;
  margin-top: 25px;
  border-radius: 8px;
  background-color: #ee284b;
  border: #ee284b 2px solid;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
}
.offer .offer-content button:hover {
  background-color: var(--main-color);
  border: var(--main-color) 2px solid;
}
/* ==================================== end offer ====================== */
